@font-face {
    font-family: Hacked;
    src: url(../fonts/HACKED.ttf);
}

body{
    background: url(../img/SoftUni-Wallpaper-1440-900.png);

}
section{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid black;
}
h1{
    font-family: Hacked,sans-serif;
    color: gray;
    font-size: 60px;
    margin: 0;

}
button{
    width: 50%;
    height: 10%;
    background-color: rgba(48,81,128,0.5);
    border: 2px solid #2e5175;
    color: black;
    font-size: 16px;
    font-weight: bold;
}
button:hover{
    background-color: rgba(48,81,128,1);
    cursor: pointer;
}